<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application
        android:label="Lens"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity android:name="com.andrew.lens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.andrew.lens.LensService"
            android:label="Lens"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true">
            <meta-data android:name="android.voice_interaction"
                android:resource="@xml/assistant_service" />
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>

        <service android:name="com.andrew.lens.LensSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true" />

        <service android:name="com.andrew.lens.LensRecognitionService"
            android:exported="true" />

        <!-- AccessibilityService for reading screen text -->
        <service android:name="com.andrew.lens.LensAccessibilityService"
            android:label="Lens Text Reader"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>
</manifest>
